<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         checkForUnintentionallyCoveredCode="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestSize="true"
         beStrictAboutChangesToGlobalState="false">
    <testsuites>
        <testsuite name="all">
            <directory>tests</directory>
        </testsuite>
        <testsuite name="billing">
            <file>tests/src/BillingClientTest.php</file>
        </testsuite>
        <testsuite name="echo">
            <file>tests/src/EchoClientTest.php</file>
        </testsuite>
        <testsuite name="terminal">
            <file>tests/src/TerminalClientTest.php</file>
        </testsuite>
    </testsuites>
    <listeners>
        <listener class="VCR\PHPUnit\TestListener\VCRTestListener" file="vendor/php-vcr/phpunit-testlistener-vcr/src/VCRTestListener.php" />
    </listeners>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
</phpunit>
